
.attachment-drag-entered {
	background: #7D7D7D !important;
	outline: #FFFFFF dashed 4px !important;
	outline-offset: -35px !important;
	-webkit-transition: outline-offset .2s ease-in-out, background-color .2s linear !important;
	transition: outline-offset .2s ease-in-out, background-color .2s linear !important;
}

.attachment-drag-entered .drop-here-label {
	display: block;
	padding-top: 175px;
	color: #FFFFFF;
	text-align: center;
	font-size: xx-large;
}

.drop-progress-meter {
	width:99% !important;
	margin: 3px 0px;
}

.z-progressmeter-image {
	background: linear-gradient(to bottom, #1eff00 0%, #1a6b18 100%);
}
.z-button .quickButtons .z-button-cm {background-image: none; font-weight: bolder; height: 30px; width:250px;}

.attachment-drag-entered,
.attachment-drag-entered .z-button .z-button-tl,
.attachment-drag-entered .z-button .z-button-tm,
.attachment-drag-entered .z-button .z-button-tr,
.attachment-drag-entered .z-button .z-button-cl,
.attachment-drag-entered .z-button .z-button-cm,
.attachment-drag-entered .z-button .z-button-cr,
.attachment-drag-entered .z-button .z-button-bl,
.attachment-drag-entered .z-button .z-button-bm,
.attachment-drag-entered .z-button .z-button-br {
    background : #7D7D7D;
}

.drop-here-div {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	outline: #7D7D7D dashed 4px;
	outline-offset: -15px;
	-webkit-transition: outline-offset .2s ease-in-out, background-color .2s linear;
	transition: outline-offset .2s ease-in-out, background-color .2s linear; 
}

.drop-here-label {
	display: block;
	padding-top: 175px;
	color: #7D7D7D;
	text-align: center;
	font-size: xx-large;
}